@media only screen and (min-width: 1441px) and (max-width: 1800px) {}

@media only screen and (min-width: 1200px) and (max-width: 1440px) {}

@media only screen and (min-width: 1025px) {}

@media only screen and (min-width: 992px) {

    .mobile,
    .mobile-nav {
        display: none;
    }
}

@media screen and (min-width: 569px) {
    .navigate {
        display: none;
        float: left;
    }
}

@media (max-width: 766px) {
    .orders {
        display: flex;
        flex-direction: column;
    }

    .first {
        order: 1;
        margin-top: -90px;
    }

    .second {
        order: 2;
        margin-top: 50px;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .featured-image-wrapper {
        -ms-flex: 0 0 62%;
        flex: 0 0 62%;
        max-width: 62%;
    }

    .featured-description-wrapper {
        -ms-flex: 0 0 38%;
        flex: 0 0 38%;
        max-width: 38%;
    }
}

@media only screen and (min-width: 1025px) and (max-width: 1199px) {

    .inner-heading {
        font-size: 1.4em;
        line-height: 33px;
    }

}

@media only screen and (min-width: 992px) and (max-width: 1024px) {
    .campaign-details {
        padding-right: 0 !important;
    }

    .inner-heading {
        font-size: 1.4em;
        line-height: 33px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .container {
        max-width: 80%;
    }

    main.archive .container {
        max-width: 95%;
    }

    .featured-image-wrapper {
        -ms-flex: 0 0 100% !important;
        flex: 0 0 100% !important;
        max-width: 100% !important;
    }

    .featured-description-wrapper {
        -ms-flex: 0 0 100% !important;
        flex: 0 0 100% !important;
        max-width: 100% !important;
    }

    header .container,
    footer .container {
        max-width: calc(100% - 30px) !important
    }

    .currency-field select {
        padding: 12px 15px 12px 23px;
    }

    .campaign-details {
        padding-right: 0 !important;
    }

    .support-card {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }

    .inner-heading {
        font-size: 1.3em;
        line-height: 28px;
    }

    .entry-heading {
        margin-bottom: 2%;
    }

    section.archive {
        margin-top: -310px;
    }

    ul.filter-category {
        padding-left: 0;
        padding-right: 0;
    }

    .sidebar-header {
        padding-left: 15px;
        padding-right: 15px;
    }

    body.light .header-bg-img,
    body.dark .header-bg-img {
        width: 66%;
    }

    .entry-heading p {
        padding-right: 13%;
    }
}

@media only screen and (max-width: 1199px) {
    p.dislaimer-text>br {
        display: none;
    }

    .support-card {
        -ms-flex: 0 0 95%;
        flex: 0 0 95%;
        max-width: 95%;
    }

    .entry-heading p {
        padding-right: 18%;
        margin-bottom: 24px;
    }
}

@media only screen and (min-width: 768px) {}

@media only screen and (max-width: 991px) {
    .featured-description-wrapper .btn-wrapper {
        grid-template-columns: 52% 21% 21% !important;
    }

    .like-votes {
        grid-template-columns: 27% 40% 27% !important;
    }

    .btn-vote>a,
    .btn-copy>a {
        justify-content: space-evenly !important;
    }

    .support-card {
        padding-left: 3px !important;
        padding-right: 3px !important;
    }

    .badge-post {
        margin-top: 30px;
    }

    /* MENU */
    .navbar[role="navigation"] ul.nav[role="menubar"] {
        display: none
    }

    .mobile,
    .mobile-nav {
        display: block;
    }

    .background-toggle {
        margin-right: auto
    }

}

@media (max-width: 767px) {
    html {
        font-size: 0.875em;
    }

    .content-wrapper {
        padding-left: 0px;
    }

    .section-heading-text {
        width: 100%;
        margin: 0 auto;
    }

    .header-bg-img {
        background-size: cover;
        width: 100%;
        background-position: bottom;
    }

    .header-wrapper {
        padding-top: 8rem;
    }

    section {
        padding-top: 100px;
        padding-bottom: 50px;
    }

    .content-wrapper h3 {
        text-align: center;
    }

    .header-wrapper h1 {
        text-align: center;
    }

    .btn-wrapper {
        display: flex;
        justify-content: center;
    }

    .header-wrapper .col-xs-12.col-md-7,
    .col-xs-12.col-md-6 .content-wrapper {
        padding-top: 4rem;
    }

    .featured-image-wrapper {
        padding-top: 0 !important;
    }

    .single-campaign .header-wrapper {
        padding-top: 69px;
    }

    .support-col>.row,
    .support-col h4 {
        margin-left: 0;
        margin-right: 0;
    }

    .support-card {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }

    .single-campaign div[class*="pr"] {
        padding-right: 15px !important
    }

    .single-campaign div[class=pr-5] {
        padding-right: 0 !important
    }

    .single-nav-wrapper {
        height: auto;
    }

    .faq-wrapper:last-child {
        margin-bottom: 0;
    }

    .left-holder {
        margin-bottom: 35px;
    }

    .left-holder>h4 {
        margin-bottom: 20px !important
    }

    .support-col h4 {
        margin-bottom: 10px
    }

    section.archive {
        margin-top: 45px;
    }

    .entry-heading p {
        text-align: center;
        padding: 0;
    }

    /* body.light .header-bg-img, body.dark .header-bg-img {
        display: none;
    } */

    .header-heart {
        width: 100%;
    }

    .sidebar {
        margin-right: 15px;
        margin-left: 15px;
        margin-bottom: 30px;
    }


    /* main.home .header-wrapper h1 {
        color: #000
    }
    
    main.home .btn-wrapper a.btn {
        color: #125cd5 !important;
        background-color: #fff !important;
        border: 1px solid #00ebff !important
    }
    
    main.home .btn-wrapper a.btn-secondary  {
        background-color: #125cd5 !important;
        border: 1px solid #125cd5 !important;
        color: #fff!important
    } */

    body.light .header-bg-img,
    body.dark .header-bg-img {
        background-size: cover;
        width: 100%;
        /* height: 800px; */
    }



}

@media only screen and (min-width: 481px) and (max-width: 767px) {}

@media only screen and (max-width: 480px) {
    .like-votes {
        grid-template-columns: 32% 45% 17% !important;
    }
}

@media only screen and (max-width: 360px) {}

@media only screen and (max-width: 320px) {}


/* @media (max-width: 767px){
    body.light .header-bg-img, body.dark .header-bg-img {
        background-size: cover;
        width: 100% !important;
    }
} */