.font {
	font-size: 14px;
}

html {
	font-family: 'Roboto', sans-serif;
	font-size: 1em;
}

* {
	-webkit-font-smoothing: antialiased !important;
}

a {
	color: #125cd5;
}

a:hover {
	text-decoration: none;
}

dl,
ol,
ul {
	margin-top: 0;
	margin-bottom: 1.6rem;
}

body.light {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	background-color: #f8f8fc;
}

body {
	color: #000;
}

section {
	padding-top: 80px;
	padding-bottom: 80px;
}

section.auth-form {
	padding: 130px 0px;
}

section.archive {
	padding-top: 0;
	margin-top: -235px;
	margin-bottom: 50px;
}

.single-archive {
	padding-top: 50px;
	padding-bottom: 5%;
}

footer {
	padding: 50px 0px;
}

.single-navbar {
	position: absolute;
	left: 0;
	width: 100vw;
}

.single-navbar {
	padding: 0;
}

.single-navbar a.nav-link {
	position: relative;
	padding-top: 19px;
	padding-bottom: 19px;
}

.single-navbar a.nav-link span {
	position: relative;
	padding-top: 19px;
	padding-bottom: 22px;
}

.single-navbar a.nav-link.active span:after {
	content: '';
	position: absolute;
	width: 100%;
	bottom: 0px;
	right: 0;
	height: 2px;
	background: #180078;
	transform: translate3d(0, 0, 0);
	transition: all .4s;
	transition-timing-function: cubic-bezier(.7, 0, .3, 1);
}

.single-nav-wrapper {
	height: 3rem;
}

header {
	z-index: 99;
	position: relative;
}

main {
	z-index: 9;
	position: relative;
}

/* CONTAINER */

@media (min-width: 992px) {
	.container {
		max-width: 96%;
	}
}

@media (min-width: 1200px) {
	.container {
		max-width: 93%;
	}
}

@media only screen and (min-width: 1440px) {
	.container {
		max-width: 1260px;
	}
}

/* FONTS */

h1 {
	font-family: 'Roboto Mono', monospace !important;
	font-size: 2.75em;
	line-height: 1.2;
}

h2 {
	font-family: 'Roboto Mono', monospace !important;
	font-size: 2.25em;
	line-height: 1.5;
}

h3 {
	font-family: 'Roboto Mono', monospace !important;
	font-size: 1.5em;
	line-height: 1.5;
	font-weight: 400;
}

h4 {
	font-family: 'Roboto Mono', monospace !important;
	font-size: 1.125em;
	line-height: 1.5;
	font-weight: 300;
}

h5 {
	font-family: 'Roboto Mono', monospace !important;
	font-size: 0.875em;
	line-height: 1.5;
	font-weight: 300;
}

h6 {
	font-family: 'Roboto Mono', monospace !important;
	font-size: 0.8125em;
	line-height: 1.5;
}

p {
	font-size: 1em;
	line-height: 1.5;
}

small,
.small {
	font-size: 0.625em;
	line-height: 1.5;
}

.page-header {
	font-size: 24px;
	font-weight: 400;
	line-height: 1.5;
	margin-bottom: 20px;
}

#page-wrapper {
	padding-left: 30px;
}

body.light a:not(.btn):hover,
body.dark a:not(.btn):hover {
	color: #125cd5;
	opacity: 1;
	-webkit-transition-duration: .18s;
	transition-duration: .18s;
}

body.light .campaign-header {
	background: #fff;
}

body.light main.single-campaign {
	background: #fafafa;
}

/* HEADER */

.bg-transparent {
	background: transparent !important;
}

header {
	position: absolute;
	width: 100%;
}

#header-scroll {
	position: fixed;
	height: 55px;
	left: 0;
	top: 0;
	width: 100%;
	-ms-transition: background 0.2s ease-out;
	-moz-transition: background 0.2s ease-out;
	-webkit-transition: background 0.2s ease-out;
	-o-transition: background 0.2s ease-out;
	transition: background 0.2s ease-out;
}

#header-scroll.is-sticky {
	background: #fff;
	z-index: 99;
	border-bottom: 1px solid #eeeeee !important;
}

.campaign-header {
	border-bottom: 1px solid #eeeeee;
}

/* body.light .header-bg-img,
body.dark .header-bg-img {
    background-image: url(../img/header-mask.svg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 57%;
    height: 800px;
    top: 0;
    left: 0;
    right: 0;
    position: absolute;
    z-index: -1;
} */

/* Search bar in header */
.search-container {
	position: relative;
	display: inline-block;
	margin: 4px 2px;
	height: 50px;
	width: 50px;
	vertical-align: bottom;
}

.mglass {
	display: inline-block;
	pointer-events: none;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
}

.searchbutton {
	position: absolute;
	font-size: 25px;
	width: 100%;
	margin: 0;
	padding: 0;
	top: 0.5px;
}

/* .search:focus+.searchbutton {
	transition-duration: 0.4s;
	-moz-transition-duration: 0.4s;
	-webkit-transition-duration: 0.4s;
	-o-transition-duration: 0.4s;
	background-color: white;
	color: black;
} */

.search {
	position: absolute;
	left: 49px;
	/* Button width-1px (Not 50px/100% because that will sometimes show a 1px line between the search box and button) */
	background-color: white;
	outline: none;
	border: none;
	padding: 0;
	width: 0;
	height: 90%;
	z-index: 10;
	transition-duration: 0.4s;
	-moz-transition-duration: 0.4s;
	-webkit-transition-duration: 0.4s;
	-o-transition-duration: 0.4s;
}

.search:focus {
	width: 363px;
	/* Bar width+1px */
	padding: 0 16px 0 0;
}

/* .expandright {
	left: auto;
	right: 49px;
} */

/* .expandright:focus {
	padding: 0 0 0 16px;
} */

#share.modal .modal-body span svg {
	max-width: 200px;
	max-height: 200px;
	margin-bottom: 15px;
}

body.light .header-bg-img.transparent-mask,
body.dark .header-bg-img.transparent-mask {
	background-image: url(../img/header-mask-light.svg);
}

body.light svg.toggle.transparent-mask * {
	fill: #000;
}

.logo-dark-scroll {
	display: none;
}

#header-scroll.is-sticky .logo-dark-scroll {
	display: block;
}

#header-scroll.is-sticky .logo-light-scroll {
	display: none;
}

.dark #header-scroll.is-sticky .logo-dark-scroll {
	display: none;
}

.dark #header-scroll.is-sticky .logo-light-scroll {
	display: block;
}

body.light #header-scroll.is-sticky svg.toggle * {
	fill: #000;
}

.logo-dark,
.logo-light {
	display: none;
}

body.light .logo-dark {
	display: block;
}

body.dark .logo-light {
	display: block;
}

svg.moon,
svg.sun {
	display: none;
}

body.light svg.moon {
	display: block;
}

body.dark svg.sun {
	display: block;
}

svg.toggle {
	cursor: pointer;
}

.nav-search img {
	height: 16px;
}

.form-inline input.form-control {
	border: 1px solid #125cd5;
	border-radius: 0px;
}

.form-control {
	border: 1px solid #f2f2f2 !important;
}

.note-editor.note-frame {
	border: 1px solid #f2f2f2 !important;
}

.inner-heading {
	font-size: 1.8em;
	line-height: 1.5;
	margin-bottom: 10px !important;
}

@media only screen and (min-width: 1200px) {
	.background-toggle {
		margin-right: 3%;
	}

	/* .entry-heading {
        padding-right: 10%;
    } */

	.entry-heading p {
		padding-right: 18%;
		margin-bottom: 24px;
	}
}

@media only screen and (min-width: 1440px) {
	.background-toggle {
		margin-right: 3.5%;
	}
}

.header-heart {
	width: 106%;
}

.campaign-featured {
	width: 100%;
}

/* CONTAINER */

@media only screen and (min-width: 1280px) {
	.header-heart {
		width: 110%;
	}

	.archive .header-heart {
		width: 85% !important;
		margin-left: 10%;
	}

	.archive.campaign-detail .header-heart {
		width: 100% !important;
		margin-left: 0%;
	}
}

/* navigation */

.navbar-brand img {
	width: auto;
	height: 40px;
}

@media only screen and (max-width: 767px) {
	.navbar-brand img {
		width: auto;
		height: 30px;
	}
}

.navbar {
	padding-top: 3px !important;
}

body.light .nav-link,
body.dark .nav-link {
	font-family: 'Roboto Mono', monospace !important;
	font-size: 14px;
	color: #000000;
	font-weight: 500;
}

.nav .btn-primary {
	margin-left: 8px;
}

.navbar {
	padding-left: 0 !important;
	padding-right: 0 !important;
}

.header-wrapper {
	padding-top: 100px;
	height: 750px;
}

.t_inner_text h4 {
	font-weight: 400;
}

.single-campaign .header-wrapper {
	height: auto;
}

.header-wrapper h1 {
	color: #fff;
	font-weight: 300;
	margin-bottom: 28px;
}

body.light .header-wrapper h1 {
	color: #222;
}

body.light .subtitle {
	color: #444;
}

.header-wrapper .transparent-mask h1 {
	color: #000000;
}

p.subtitle {
	font-family: 'Roboto', sans-serif;
	color: #fff;
}

.nav-link.btn-secondary {
	margin-left: 1rem;
}

.nav-secondary {
	border-top: 1px solid #eeeeee;
	border-bottom: 1px solid #eeeeee;
}

/* Dark/Light Animation */

.toggle:hover,
.toggle:focus {
	animation: toggleshake 0.5s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
	backface-visibility: hidden;
	transform-origin: top right;
}

@keyframes toggleshake {
	0% {
		transform: rotate(0);
	}

	15% {
		transform: rotate(5deg);
	}

	30% {
		transform: rotate(-5deg);
	}

	45% {
		transform: rotate(4deg);
	}

	60% {
		transform: rotate(-4deg);
	}

	75% {
		transform: rotate(2deg);
	}

	85% {
		transform: rotate(-2deg);
	}

	92% {
		transform: rotate(1deg);
	}

	100% {
		transform: rotate(0);
	}
}

/* ELEMENTS */

/* HOVER */

/*.explore-entry-wrapper a img:hover{
    transform: translateY(-3px);
    transition: transform .5s ease !important;
}

.explore-entry-wrapper a img{
    transition: transform .5s ease !important;
}*/

/* Buttons */

.badge {
	border-radius: 5px 7px;
	background-color: #ffffff;
	box-shadow: none;
	padding: 5px;
	font-size: 0.565em;
}

.badge-img {
	padding-right: 2px;
	vertical-align: 1px;
}

.btn {
	font-size: 14px;
	font-weight: 500;
	text-transform: capitalize;
	border-radius: 100px;
	box-shadow: none;
	line-height: 1 !important;
	transition: transform .3s ease, box-shadow .3s ease !important;
}

button.note-btn.btn.btn-default.btn-sm.dropdown-toggle,
.note-btn {
	background: #ccc;
	border-radius: inherit;
}

.btn-danger {
	background: #dc3232;
}

.btn-info {
	background: #125cd5;
}

.note-btn:hover,
button.note-btn.btn.btn-default.btn-sm.dropdown-toggle:hover,
button.note-btn.btn.btn-default:hover {
	transform: none !important;
	-webkit-transform: none;
	-moz-transform: none;
	-ms-transform: none;
	-o-transform: none;
	border-radius: 5px;
	background: #fafafa;
	border-color: #555d66;
	color: #23282d;
	box-shadow: inset 0 1px 0 #fff, 0 1px 0 rgba(0, 0, 0, .08) !important;
	outline: 0;
}

.btn:hover,
.single-campaign .like-cnt:hover,
a.facebook-share:hover,
a.twitter-share:hover {
	transform: translateY(-3px);
	transition: transform .3s ease, box-shadow .3s ease !important;
	box-shadow: 0 0 8px 0 #00ebff;
}

.campaign-contributor .btn-light {
	float: right;
}

.categories-lists .btn-xs {
	padding: 8px 20px !important;
}

header .btn-xs {
	padding: 8px 25px !important;
}

.btn-primary.btn-xs {
	padding: 6px 31px;
}

body.light .btn-secondary.btn-xs {
	padding: 6px 11px;
}

.btn-primary.btn-md {
	padding: 8.5px 14.5px;
}

.btn-secondary.btn-md,
body.dark .btn-secondary.btn-xs,
.btn {
	padding: 13px 25px !important;
}

.header-wrapper .btn-primary.btn-md,
.cta-section .btn-primary.btn-md {
	padding: 8.5px 24px;
}

.btn-lg.btn-block.btn-google {
	background: #fff;
}

.btn-lg.btn-block.btn-facebook {
	background: #3b5998;
	color: #fff;
}

.btn-md:nth-child(2) {
	margin-left: 19.5px;
}

.btn-lg {
	font-size: 0.875em;
	padding: 8px 20px;
}

.btn-orange {
	color: #fff !important;
	background-color: #125cd5 !important;
	border: 1px solid #125cd5 !important;
}

.btn-light {
	color: #125cd5 !important;
	background-color: #fff !important;
	border: 1px solid #00ebff !important;
}

body.dark .btn-light {
	color: #00ebff !important;
	border: 1px solid #00ebff !important;
}

.btn-light.disabled {
	border: 1px solid rgba(153, 153, 153, 0.5) !important;
	border-radius: 0px;
	color: #999 !important;
}

.btn-light-transparent {
	color: #ffffff;
	background-color: #1140ab !important;
	border: 1px solid #00ebff !important;
}

.btn-white {
	color: #125cd5 !important;
	background-color: #fff !important;
	border: 1px solid #fff !important;
}

body.dark .btn-orange,
.single-campaign .like-cnt,
.btn-vote>a,
.btn-copy>a,
.btn-xcv>a,
.btn-light {
	color: #ffffff;
	background-color: rgba(255, 255, 255, 0.2) !important;
	/* border: 1px solid rgba(255, 255, 255, 0.5) !important; */
}

/* Cards */

body.light .card,
body.dark .card {
	border: none;
	margin-top: 12px;
	border-radius: 0px;
	background-color: #ffffff;
	box-shadow: none;
}

.content-wrapper .card-body {
	display: flex;
}

.card-header {
	background: none;
	border-color: #f3f3f3;
}

.card-img-top {
	height: 182px;
	object-fit: cover;
}

.content-wrapper .card h5 {
	display: flex;
	text-align: center;
	flex-direction: column;
	justify-content: center;
	margin-bottom: 0px;
	margin-left: 1.75rem;
}

.card.p-4 .card-body {
	padding-left: 0px;
	padding-right: 0px;
}

.card.p-4 {
	height: 550px;
}

.card-btn-wrapper,
.card-detail-wrapper {
	display: flex;
	justify-content: space-between;
}

.card-detail-wrapper {
	padding: 0px 0px 30px 0px;
}

.card-tag {
	font-size: 0.75em;
}

.card .stock-details dl {
	display: flex;
	margin-top: 1.5rem;
	margin-bottom: 0rem;
}

.card .stock-details dl:last-child {
	margin-top: -0.5rem;
}

.card-body dl {
	color: #999999;
}

.card .delivery-date h6,
.card .shipping-location h6 {
	color: #999999;
	font-size: 0.565em;
	font-weight: 300;
	text-transform: uppercase;
	margin: 0rem;
	line-height: 1.5;
}

.card {
	margin-bottom: 20px;
}

.panel-heading .card {
	width: auto;
	height: 110px;
}

.panel.panel-info {
	font-size: 12px;
}

.card-text {
	font-size: 14px;
	line-height: 1.5;
	font-weight: 400;
}

.help-block strong {
	font-size: 12px;
	font-weight: 300 !important;
	background: rgba(220, 50, 50, 0.09);
	color: #dc3232;
	padding: 3px;
	position: relative;
	top: 0.5rem;
}

main.single-campaign .card-body .card-text-secondary,
main.single-campaign .card-body dt.card-footer-text {
	font-size: 0.75em;
	font-weight: 300;
}

main.single-campaign .card-body .card-text.delivery-date p,
main.single-campaign .card-body .shipping-location p {
	font-size: 0.875em;
}

dt.card-footer-text {
	color: #125cd5;
	padding-right: 3px;
}

.delivery-date span {
	text-transform: capitalize;
}

.shipping-location span {
	text-transform: uppercase;
}

.like-container {
	filter: url('#filter');
	position: absolute;
	right: 5%;
	margin-top: 10%;
}

.image-card .like-container {
	right: -8px;
}

.image-card {
	position: relative;
}

.like-container>div[data-name="mojs-shape"] {
	top: 0 !important;
	left: 0 !important;
}

.no-data h3 {
	font-weight: 300;
	font-size: 14px;
}

.no-data h3 {
	margin-bottom: 10px !important;
}

.no-data i {
	margin-top: 10px;
}

dd {
	color: #999 !important;
}

.like-cnt {
	transform: translate(-50%, -50%);
	background: rgba(255, 255, 255, 0.7);
	box-shadow: none;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	z-index: 10;
	cursor: pointer;
}

.single-campaign .like-cnt {
	transform: none;
	border: 1px solid #00ebff;
	border-radius: 0px;
	background-color: #ffffff;
	height: 39px;
	width: auto;
	display: flex;
	justify-content: center;
	justify-items: unset;
	align-items: center;
	text-align: right;
	font-size: 11px;
	font-weight: bold;
	color: #125cd5;
	padding: 0 10px;
	box-shadow: none;
	border-radius: 100px;
}

.single-campaign .like-cnt span {
	padding-right: 5px;
}

.single-campaign .like-cnt svg {
	position: relative;
	top: -0.9px;
}

.like-cnt.checked g {
	fill: #125cd5;
}

.like-votes {
	display: grid;
	grid-template-columns: auto 43.9% auto;
	justify-content: space-between;
	margin-bottom: 20px;
}

.votes-count {
	display: flex;
	height: 39px;
	margin-bottom: 0;
	align-items: center;
	font-size: 11px;
	/* border-left: 1px solid #00ebff; */
	padding-left: 17px;
	padding-right: 0;
}

.votes-count>span {
	padding-right: 4px;
	font-size: 13px;
}

.btn-vote>a>span:first-child {
	padding-right: 10px;
}

.btn-xcv>a>span:first-child {
	padding-right: 10px;
}

.btn-vote svg,
.btn-copy svg,
.btn-xcv svg {
	position: relative;
	/* top: 4.75px; */
	left: 5px;
}

.btn-vote>a,
.btn-copy>a,
.btn-xcv>a {
	height: 39px;
	display: flex;
	align-items: center;
	justify-content: center;
	justify-items: center;
	box-shadow: none;
	/* padding-left: 13px !important; */
	padding-right: 12px !important;
}

.btn-vote>a span,
.btn-copy>a span,
.btn-xcv>a span {
	padding-right: 5px;
}

.gp-header {
	font-family: georgia;
	font-size: 40px;
	color: #125cd5;
	font-style: italic;
	text-align: center;
	margin-top: 31px;
}

.gp-footer {
	position: fixed;
	color: #fff;
	bottom: 10px;
	left: 50%;
	font-family: georgia;
	font-style: italic;
	transform: translateX(-50%);
}

.gp-footer .soc_icons {
	display: inline-block;
	color: #125cd5;
	margin: 0px 0px;
}

.currency-field {
	display: grid;
	grid-template-columns: 28% 72%;
	margin-bottom: 15px;
	border: 1px solid rgba(153, 153, 153, 0.3);
	border-radius: 5px;
	background-color: #ffffff;
	box-shadow: none;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
}

.currency-field select {
	border: 0;
	-webkit-appearance: none;
	font-weight: 500;
	line-height: 15px;
	padding: 12px 35px 12px 28px;
	text-transform: uppercase;
	border-radius: 5px 0 0 5px;
	background-color: #ffffff;
}

.currency-field input {
	border: 0;
	border-left: 1px solid rgba(153, 153, 153, 0.3);
	padding: 11px 17px;
	line-height: 1.5;
}

.featured-description-wrapper .btn-wrapper {
	display: grid;
	grid-template-columns: 52% auto auto;
	justify-content: space-between;
}

.faq-disclaimer a.btn {
	width: 160px;
}

/* text */

.primary-color {
	color: #125cd5;
}

.section-heading-text {
	width: 30%;
	margin: 0 auto;
}

/* .section-heading-text:after {
    content: '';
    position: absolute;
    width: 56px;
    bottom: 0px;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
    height: 6px;
    background-color: #180078;
    border-radius: 0px;
} */

.p-4 {
	padding: 1.4375rem !important;
}

.category-title {
	position: absolute;
	top: 85%;
	text-align: center;
	left: 50%;
	transform: translate(-50%, -50%);
	text-transform: capitalize;
}

.campaign-detail h4 {
	font-size: 1.125em;
}

/* Progress bar */

.progress {
	height: 0.55rem;
	background-color: rgba(0, 0, 0, 0.1);
	border-radius: 0;
	margin-bottom: 13px;
}

.progress-bar {
	background-color: #125cd5;
}

.progress-title-wrapper {
	display: flex;
	justify-content: space-between;
}

.progress-title {
	margin-bottom: 0rem;
	text-transform: uppercase;
	font-weight: 800;
}

/* HEADING WRAPPER */

.entry-heading {
	margin-bottom: 8%;
}

.explore-entry-wrapper {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	padding-top: 30px;
}

/* SECTIONS */

body.light .campaign-bg-img,
body.dark .campaign-bg-img {
	/* background-image: url(../img/campaigns-mask.svg); */
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
	height: 100%;
	background-position: 100% 87%;
}

body.light .campaign-bg-img.transparent-mask,
body.dark .campaign-bg-img.transparent-mask {
	background-image: url(../img/campaigns-mask-transparent.svg);
}

body.light .category-bg-img,
body.dark .category-bg-img {
	background-image: url(../img/category-bg.svg);
	background-size: contain;
	background-repeat: no-repeat;
	width: 100%;
	height: 100%;
	background-position: 100% 87%;
}

.category-bg-img a img:hover {
	transform: translateY(-3px);
	transition: transform .3s ease, box-shadow .3s ease !important;
}

.section-btn-wrapper {
	display: flex;
	justify-content: center;
	margin-top: 5rem;
}

body.light .cta-section,
body.dark .cta-section {
	background: linear-gradient(168.96deg, #125cd5 0%, #180078 100%);
	padding: 6rem 0rem;
}

.cta-section h2 {
	color: #fff;
	font-weight: 300;
	text-transform: capitalize;
	margin-bottom: 0rem;
}

.cta-section .btn-wrapper {
	display: flex;
	justify-content: center;
	margin-top: 2.18rem;
}

/* archive section */

.archive h5.progress-title {
	font-size: 0.75em;
}

.archive h4.card-title {
	font-size: 1.125em;
}

.archive h5.progress-title {
	font-size: 0.75em;
}

.archive h4.card-title {
	font-size: 1.125em;
}

.campaign-detail .card-text-secondary {
	font-size: 0.5625em;
	line-height: 1.5;
	font-weight: 300;
	margin-bottom: 0.8125rem;
}

.archive .card-text {
	font-size: 0.815em;
	line-height: 1.5;
}

.archive .card-text-secondary {
	font-size: 0.75em;
	line-height: 1.5;
	color: #999;
}

.archive .card-footer-text {
	font-size: 0.75em;
	line-height: 1.5;
	color: #125cd5;
	text-transform: capitalize;
}

.archive .progress {
	height: 0.49rem;
}

.donors-total img,
.days-left img {
	width: 19px;
	height: 33px;
	margin-right: 5px;
}

.donors-total,
.days-left {
	display: flex;
}

/* SINGLE CAMPAIGN */

.campaign-details {
	display: flex;
	justify-content: space-between;
}

.donors-total p,
.days-left p {
	margin-bottom: 0;
	position: relative;
	top: 3.7px;
}

.search-holder>input[type="text"] {
	width: 100%;
	height: 35px;
	border: 1px solid #f2f2f2;
	border-radius: 0px;
	background-color: #ffffff;
	box-shadow: none;
	font-size: 12px;
	padding-left: 50px;
	color: #999999;
}

.search-holder {
	position: relative;
	height: 35px;
}

.search-icon {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 13px;
}

.sort-order .options ul {
	display: none;
}

select.order-items {
	background-color: #fff;
	-webkit-appearance: none;
	-webkit-border-radius: 0px;
	background-image: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='18' height='18' viewBox='0 0 24 24'><path fill='#000' d='M7.406 7.828l4.594 4.594 4.594-4.594 1.406 1.406-6 6-6-6z'></path></svg>");
	background-position: 90% 50%;
	background-size: 15px;
	background-repeat: no-repeat;
	color: #000;
	font-size: 12px;
	font-weight: 300;
	line-height: 1.5;
	padding: 12px 35px 12px 28px;
	border: 1px solid #f2f2f2;
	border-radius: 0px;
	box-shadow: none;
}

.sort-order {
	margin: 30px 0 10px;
}

.sort-order span {
	margin-right: 15px;
	font-size: 12px;
	font-weight: 600;
}

.badge-post {
	margin-bottom: 25px;
}

.campaign-badge {
	position: absolute;
	bottom: 9px;
	left: 9px;
	margin-bottom: 0;
}

.donor-stats>* {
	display: inline-block;
}

.donor-stats>div {
	font-size: 12px;
	font-weight: bold;
	line-height: 1.5;
}

.donor-stats>h3 {
	color: #125cd5;
}

.campaign-contributor {
	display: grid;
	grid-template-columns: 50% 50%;
	align-items: center;
}

.campaign-profile {
	display: flex;
	margin: 13px 0 20px;
}

.image-profile {
	border-radius: 100%;
	padding-right: 10px;
}

.update-field {
	display: grid;
}

.update-field .image-profile img {
	height: 45px;
	width: 45px;
}

.user-details p {
	margin-bottom: 0;
	font-size: 14px;
	margin-left: 15px;
}

.user-details p.text-muted {
	font-size: 12px;
}

.update-field .image-profile {
	margin-bottom: 20px;
}

.update-field p a:not([class]) {
	font-weight: 300;
}

.image-profile img {
	height: 35px;
	object-fit: cover;
	width: 35px;
	border-radius: 100%;
}

.profile-text>*,
.donor-stats>* {
	margin: 0 !important;
}

.donor-stats {
	margin-bottom: 10px;
}

.profile-text>h5 {
	font-size: 0.75em;
}

.profile-text>h4 {
	font-size: 1em;
	font-weight: 600;
}

.featured-description-wrapper .card-text-secondary {
	text-transform: Uppercase;
	color: #999;
	font-size: 0.565em;
	font-weight: 900;
}

.profile-text>div {
	text-decoration: underline;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 0.565em;
}

.profile-text>div a {
	color: #125cd5;
}

.user-profile img {
	margin-bottom: 15px;
	width: 50px;
	height: 50px;
}

.user-profile {
	margin-bottom: 0;
}

.progress-title-wrapper {
	margin-top: -1.25rem !important;
}

.balance-status {
	display: grid;
	grid-template-columns: 68% 32%;
	margin-bottom: 20px;
}

.balance-status>div {
	font-size: 0.75em;
}

.amount-no {
	margin-left: -3px;
}

.facebook-share,
.twitter-share {
	text-decoration: none !important;
}

.facebook-share {
	border: 1px solid #f2f2f2;
	border-radius: 0px;
	background-color: #ffffff;
	box-shadow: none;
	display: grid;
	grid-template-columns: auto auto;
	justify-content: center;
	justify-items: center;
	align-items: center;
	padding-left: 23px;
	padding-right: 23px;
	border-radius: 100px;
}

.twitter-share {
	border: 1px solid rgba(29, 161, 242, 0.5);
	border-radius: 0px;
	background-color: #ffffff;
	box-shadow: none;
	display: grid;
	grid-template-columns: auto auto;
	justify-content: center;
	justify-items: center;
	align-items: center;
	padding-left: 23px;
	padding-right: 23px;
	border-radius: 100px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	-ms-border-radius: 100px;
	-o-border-radius: 100px;
}

.facebook-share>span {
	padding-right: 5px;
	font-size: 0.687em;
	font-weight: bold;
	color: #3b5998;
	position: relative;
	top: 1.8px;
}

.twitter-share>span {
	padding-right: 5px;
	font-size: 0.687em;
	font-weight: bold;
	color: #1da1f2;
	position: relative;
	top: 1.8px;
}

.share-btn-wrapper {
	display: inline-flex;
	justify-content: space-between;
}

.modal-footer {
	border-top: 0px solid #e9ecef;
}

.modal-content {
	border: 0 !important;
	border-radius: 0 !important;
}

.faq-wrapper {
	margin-bottom: 10px;
}

.faq-wrapper:last-child {
	margin-bottom: 30px;
}

.left-holder>h4 {
	margin-bottom: 33px;
}

.faq-wrapper {
	border: 1px solid #f2f2f2;
	border-radius: 0px;
	background-color: #ffffff;
	box-shadow: none;
}

.faq-wrapper .btn {
	background: #fff;
	box-shadow: none;
	transform: none !important;
	position: relative;
	height: 45px;
	text-align: left;
	padding-left: 18px;
	padding-right: 18px;
}

.collapse .card {
	box-shadow: none !important;
}

div[class*="collap"] .card-body {
	padding-top: 0;
	margin-top: 4px;
}

.faq-wrapper .btn:after {
	width: 5px;
	height: 5px;
	border-right: 1.3px solid #222;
	border-bottom: 1.3px solid #222;
	position: absolute;
	right: 20px;
	content: " ";
	top: 17px;
	transform: rotate(-45deg);
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

.faq-wrapper .btn:not(.collapsed):after {
	transform: rotate(45deg);
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

.support-col h4 {
	margin-left: -15px;
	margin-bottom: 20px;
}

main.donate .campaign-profile {
	justify-content: center;
}

main.donate .card-text-secondary {
	text-transform: Uppercase;
	color: #999;
	font-size: 0.565em;
	font-weight: 900;
}

form.donate-form {
	margin-top: 45px;
}

select.form-control:not([size]):not([multiple]) {
	height: calc(2.25rem + 2px);
	-webkit-appearance: button;
}

.form-group {
	margin-bottom: 2.5625em;
}

form.donate-form .form-group {
	border: 1px solid #f2f2f2;
	border-radius: 5px;
	background-color: #ffffff;
	box-shadow: none;
	padding: 9px 20px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
}

.form-group.checked {
	border: 1px solid #125cd5 !important;
}

.card.campaign-donate {
	margin-top: 45px !important;
}

input[type=radio] {
	margin-right: 20px;
	vertical-align: 1.5px;
}

.donate-disclaimer p {
	color: #999999;
	font-size: 12px;
	line-height: 1.5;
}

.donate-disclaimer p a {
	color: #353635;
}

.donate-disclaimer {
	margin-top: 50px;
}

.total-donation {
	margin: 30px 0;
}

span.currency {
	margin-left: 17px;
	margin-right: 2.5px;
}

form.donate-form .card {
	padding-bottom: 20px;
	padding-top: 10px;
}

.currency-field:after {
	width: 7px;
	height: 7px;
	border-right: 1.48px solid #222;
	border-bottom: 1.48px solid #222;
	position: absolute;
	left: 21%;
	content: " ";
	top: 37%;
	transform: rotate(45deg);
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

.currency-field {
	position: relative;
}

.card-list {
	display: grid;
	grid-template-columns: 50% 50%;
	border-bottom: 1px solid #f7f7f7;
}

.card-list h4 {
	font-size: 1em;
	font-weight: 400;
}

.row-card-body {
	margin-left: -2.2rem;
	margin-right: -2.2rem;
}

.card-list {
	padding: 0 30px;
}

.card-list h4 {
	margin-bottom: 0;
	padding: 11px 0px;
}

.user-card .card-body {
	padding-top: 0;
}

.card-list h4.text-right {
	color: #125cd5;
	font-weight: bold;
}

.user-card .btn-wrapper {
	padding: 30px 0 10px;
}

section.dashboard-entry {
	padding-top: 32px;
}

div#featured-switch-tabs ul li {
	list-style: none;
	float: left;
	margin-right: 6.5%;
}

div#featured-switch-tabs ul {
	padding: 0;
	width: 100%;
}

li.switch-tabs a {
	font-size: 16px;
	font-weight: bold;
	line-height: 1.5;
	color: #000;
}

li.switch-tabs:after {
	content: '';
	position: absolute;
	width: 100%;
	bottom: -10px;
	right: 0;
	height: 2px;
	background: #aaa;
	transform: translate3d(0, 0, 0);
	transition: all .4s;
	transition-timing-function: cubic-bezier(.7, 0, .3, 1);
}

li.switch-tabs {
	position: relative;
	opacity: 0.2;
}

li.switch-tabs.active {
	opacity: 1;
}

li.switch-tabs.active:after {
	background: #125cd5;
}

div#featured-switch-tabs {
	margin-bottom: 25px;
}

.clearfix {
	clear: both !important;
}

.campaigns-row .card-text {
	font-size: 13px;
	line-height: 1.5;
}

span.bold-text {
	font-weight: bold;
}

.campaign-update .btn-wrapper {
	padding-top: 15px;
	padding-bottom: 25px;
}

.campaign-post .profile-text h6 {
	color: #999999;
	font-size: 9px;
	line-height: 1.5;
	margin-bottom: 0;
}

.campaign-post .profile-text>div {
	text-decoration: none;
}

span.comments-count,
span.like-counts {
	color: #999;
	vertical-align: super;
	font-size: 12px;
}

.comments-wrap svg {
	width: 15px;
}

.comments-wrap>span {
	margin-right: 25px;
}

/* SIDEBAR */

.sidebar {
	background: #fff;
	box-shadow: none;
}

ul.filter-category {
	list-style: none;
	padding: 25px 15px 10px;
}

.sidebar-header {
	margin-left: -15px;
	margin-right: -15px;
	padding: 25px 30px 15px;
	border-bottom: 1px solid #f7f7f7;
}

.filter-category li {
	color: #999999;
	font-size: 10px;
	font-weight: bold;
	line-height: 1.5;
	margin-bottom: 14px;
	cursor: pointer;
}

@media only screen and (min-width: 768px) {
	.sidebar-row {
		-ms-flex: 0 0 20%;
		flex: 0 0 20%;
		max-width: 20%;
	}

	.results-row {
		-ms-flex: 0 0 80%;
		flex: 0 0 80%;
		max-width: 80%;
	}

	.featured-image-wrapper {
		-ms-flex: 0 0 65.5%;
		flex: 0 0 65.5%;
		max-width: 65.5%;
	}

	.featured-description-wrapper {
		-ms-flex: 0 0 31.8%;
		flex: 0 0 31.8%;
		max-width: 31.8%;
	}

	.support-card {
		-ms-flex: 0 0 88%;
		flex: 0 0 88%;
		max-width: 88%;
	}

	.user-card {
		-ms-flex: 0 0 95%;
		flex: 0 0 95%;
		max-width: 95%;
	}
}

/* Campaign Single */
.btn-vote>a>span:first-child {
	/* padding-right: 0px !important; */
}

.btn-vote>a span,
.btn-copy>a span,
.btn-xcv>a span {
	padding-right: 5px;
	padding-left: 5px;
}

.xcvs span {
	font-size: 14px;
}

@media only screen and (min-width: 640px) {
	.vote .votel {
		padding: 20px;
	}
}

/* END */
/* ALIGNMENT */

.vertical-center {
	-ms-flex-align: center;
	-webkit-box-align: center;
	align-items: center;
}

.align-middle {
	-webkit-box-align: center;
	align-items: center;
}

.image-center {
	display: grid;
	justify-items: center;
}

.image-center .image-profile {
	padding-right: 0;
	padding-left: 0;
}

.image-center .profile-text {
	text-align: center;
}

.content-wrapper {
	padding-left: 25%;
}

/* .container h3 {
    margin-bottom: 24px;
} */

.accordion p {
	cursor: pointer;
}

.accordion__content {
	max-height: 0;
	color: #888;
}

.accordion__title {
	border-bottom: 1px solid #ececec;
	padding-left: 0;
	transition: .3s linear;
	-webkit-transition: .3s linear;
	margin-bottom: .92857143em;
	cursor: pointer;
}

.accordion__title p:before {
	font-family: "stack-interface";
	content: '+';
	margin-right: 6px;
	color: #252525;
}

.section_bg {
	background-position: center;
	background-size: cover;
	height: 200px;
	margin-top: 56px;
	width: 100%;
	background: url('../img/terms_img.jpg');
}

.section_bg h1 {
	color: #fff;
}

legend {
	margin-bottom: 15px !important;
	font-size: 20px !important;
}

/* ANIMATION */
img.others {
	position: absolute;
	top: 0;
	z-index: -1;
}

img.faith {
	position: absolute;
	top: 0;
	z-index: -1;
	left: -150px;
}

img.business,
img.music,
img.sport {
	position: absolute;
	top: 0;
}

.float {
	animation-direction: alternate;
	animation-duration: 1.5s;
	animation-iteration-count: infinite;
	animation-name: float;
	animation-timing-function: ease-in-out;
}

@keyframes float {
	0% {
		-webkit-transform: translate3d(0, -4px, 0);
		transform: translate3d(0, -4px, 0);
	}

	100% {
		-webkit-transform: translate3d(0, 4px, 0);
		transform: translate3d(0, 4px, 0);
	}
}


.animated {
	-webkit-transition: all .5s ease;
	transition: all .5s ease;
}

/* FOOTER */

footer {
	background: #fff;
}

footer h5 {
	text-transform: uppercase;
	margin-bottom: 28px;
}

img.footer-logo {
	height: 50px;
	width: auto;
}

body.light footer a,
body.dark footer a {
	color: #000000;
	font-size: 0.75em;
	line-height: 1.5;
	text-transform: capitalize;
	margin-bottom: 22px;
	display: block;
}

body.light footer a:hover,
body.dark footer a:hover {
	text-decoration: none;
}

ul.social {
	display: flex;
	list-style: none;
	padding-left: 0rem;
	margin-top: 3.75rem;
}

.social li {
	margin-right: 34px;
}

.copyright {
	margin-top: 5.625rem;
}

/* DARK MODE */

body.dark {
	font-family: 'Roboto Mono', monospace;
	font-weight: 300;
	background-color: #1a1a1a !important;
	color: #fff !important;
}

body.dark #header-scroll.is-sticky {
	background: #121212;
	border-color: rgba(255, 255, 255, 0.1) !important;
}

body.dark .btn-secondary.btn-xs {
	padding: 6px 11px;
}

body.dark .nav-link,
body.dark footer a {
	color: #fff;
}

body.dark .header-wrapper .transparent-mask h1 {
	color: #fff;
}

body.dark footer {
	background-color: #222222;
}

body.dark .card-body,
body.dark .card {
	background-color: #121212;
	box-shadow: none;
}

body.dark .card-body {
	box-shadow: none !important;
}

body.dark .header-bg-img {
	background-image: url(../img/header-mask-dark.svg);
}

body.dark .campaign-bg-img {
	background-image: url(../img/campaigns-mask-dark.svg);
}

body.dark .category-bg-img {
	background-image: url(../img/category-bg-dark.svg);
}

body.dark .cta-section {
	background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #125cd5 100%);
}

body.dark .sidebar {
	background: #121212;
}

body.dark .filter-category li {
	color: #fff;
}

body.dark select.order-items {
	background: #121212;
	border-color: rgba(255, 255, 255, 0.5);
	color: #fff;
}

body.dark .sidebar-header {
	border-color: rgba(255, 255, 255, 0.5);
}

body.dark header {
	border-color: rgba(255, 255, 255, 0.1);
	background: #121212;
}

body.dark .badge-post {
	color: #000;
}

body.dark .navbar {
	border-color: rgba(255, 255, 255, 0.1);
}

body.dark .faq-wrapper .btn,
body.dark .faq-wrapper {
	background: #121212;
	color: #fff;
	box-shadow: none;
	border-color: #121212;
}

body.dark .faq-wrapper .btn:after {
	border-color: rgba(255, 255, 255, 0.3);
}

body.dark .progress {
	background-color: #000;
}

/*hamburger menu*/

.hamburger-menu {
	z-index: 2;
	position: relative;
	width: auto;
	cursor: pointer;
	padding-right: 5px;
}

.bar,
.bar:after,
.bar:before {
	width: 25px;
	height: 2px;
}

.bar {
	position: relative;
	transform: translateY(2px);
	background: #000;
	transition: all 0ms 300ms;
}

.bar.animate {
	background: rgba(255, 255, 255, 0);
}

.bar:before {
	content: "";
	position: absolute;
	left: 0;
	bottom: 6px;
	background: #000;
	transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.bar:after {
	content: "";
	position: absolute;
	left: 0;
	top: 6px;
	background: #000;
	transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.bar.animate:after {
	top: 0;
	transform: rotate(45deg);
	transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.bar.animate:before {
	bottom: 0;
	transform: rotate(-45deg);
	transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.bar.animate:after,
.bar.animate:before {
	background: #fff !important;
	width: 23px;
}

/*nav menu*/

.overflow_hidden {
	overflow: hidden;
}

.show {
	left: 0%;
	opacity: 1;
}

.hide {
	opacity: 0;
	left: 100%;
}

.mobile-nav {
	background: rgba(0, 0, 0, 0.93);
	position: absolute;
	top: 0;
	width: 100vw;
	height: 100vh;
	text-align: center;
	transition: .2s ease;
	/*  transition: opacity .5s ease;
    -moz-transition: opacity .5s ease;
    -webkit-transition: opacity .5s ease;
    transition:left .5s ease-in-out;*/
}

.mobile-nav ul {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	list-style: none;
	padding: 0;
}

.mobile-nav li {
	padding: 6px;
}

.mobile-nav a {
	text-align: center;
	font-size: 18px;
	color: #ffffff;
	opacity: 0;
	transition: opacity .9s ease-in-out;
	text-transform: capitalize;
	font-weight: 300;
}

.mobile-nav.show a {
	text-align: center;
	font-size: 18px;
	color: #ffffff;
	opacity: 1;
	font-weight: 300;
}

.mobile-nav a:hover {
	color: #2980b9;
}

ul.nav.nav-second-level.settings-nav.card {
	line-height: 2;
	padding-right: 10px;
	padding-bottom: 10px;
}

header {
	z-index: 99;
}

/**** HEADER ****/

#headerMenuCollapse .nav-tabs .nav-link {
	color: #ffffff;
	font-size: 14px;
	font-weight: 300;
	line-height: 1.5;
}

#headerMenuCollapse {
	background: linear-gradient(90deg, #125cd5 0%, #180078 100%);
	margin-top: 55px;
}

#headerMenuCollapse .nav-tabs .nav-link.active {
	color: #fff;
	border-color: transparent;
	position: relative;
	font-size: 14px;
	line-height: 1.5;
}

#headerMenuCollapse .nav-tabs .nav-link.active:after {
	content: '';
	position: absolute;
	width: 100%;
	bottom: -1px;
	right: -0.2px;
	height: 3px;
	background: #fff;
	opacity: 1;
	transform: translate3d(0, 0, 0);
	transition: all .4s;
	transition-timing-function: cubic-bezier(.7, 0, .3, 1);
}

#headerMenuCollapse .nav-link {
	padding: 19px 30px;
	background: none;
	border: none;
}

/* #headerMenuCollapse li.nav-item {
    margin-right: 15px
} */

/* dynamic auth dashoard links */
a.dashboard:hover,
a.logout:hover {
	color: #125cd5 !important;
}

.dashboard,
.logout {
	color: #000;
}

.dashboard {
	margin-bottom: 10px;
}

/* Admin css */
ul.campaign-update-nav {
	align-items: center;
	border: 1px solid #f2f2f2;
	border-radius: 2px;
	display: flex;
	flex-wrap: nowrap;
	list-style-type: none;
	margin: 0 0 20px 0;
	padding: 0;
	width: 100%;
}

ul.campaign-update-nav li a {
	border-left: 1px solid #f2f2f2;
	font-size: 18px;
	display: block;
	line-height: 1.5;
	padding: 0.7em 2em;
	text-align: center;
}

a.btn.btn-sm.btn-orange.pull-right {
	font-size: 14px;
}

table.table.table-bordered.categories-lists {
	margin: 11px;
}

.table-bordered {
	margin-top: 20px;
}

td img.img-responsive {
	height: 31px;
	width: 31px;
	border: 1px solid #125cd5;
	border-radius: 100px;
	object-fit: cover;
}

/* table {
    box-shadow: none;
} */

.table td,
.table th {
	font-size: 12px;
	line-height: 1.5;
}

.table-striped td:nth-child(3),
.table-striped td:nth-child(4) {
	color: #999999;
	font-size: 12px;
	padding-bottom: 10px;
}

.table-bordered td,
.table-bordered th {
	border: 1px solid #f2f2f2;
}

.table-striped tbody tr:nth-of-type(odd) {
	background-color: #fff;
}

body.dark .table-striped tbody tr:nth-of-type(odd) {
	background-color: rgba(0, 0, 0, .05);
}

table a.btn.btn-sm {
	box-shadow: none;
	background: transparent;
	border: 1px solid #f2f2f2;
}

.btn i {
	color: #fff;
	font-size: 14px;
}

.note-btn i {
	color: #555d66;
}

.note-toolbar.panel-heading {
	background: #f5f5f5 !important;
}

button.note-btn.btn.btn-default.btn-sm.dropdown-toggle,
.note-btn {
	background: transparent;
	border-radius: inherit;
}

span.note-icon-caret {
	display: none;
}

/* Overlay popup stuffs */

.modal-backdrop.show {
	pointer-events: none;
}

.modal-content {
	margin-top: 80px;
}

.modal-title {
	flex: 1;
	text-align: right;
}

.btn-primary.disabled,
.btn-primary:disabled {
	border-color: #125cd5 !important;
	background-color: #125cd5 !important;
}

.modal-backdrop.show {
	display: none;
}

.modal.show {
	background: rgba(0, 0, 0, 0.6);
}

.note-toolbar.panel-heading {
	background-color: #ffffff;
	padding: 5px;
}

/*  */

table.table.table-bordered.categories-lists {
	width: 0%;
}

.sizeCatImg {
	width: 100px;
}

.catWidth {
	width: 40%;
}

/* show more pagination for All Campaign page */
.row.display {
	padding: 15px;
}

.btn-orange {
	border-color: #125cd5 !important;
}

a.btn.btn-info.btn-sm {
	margin: 10px 0px;
}

.bg-success {
	padding: 10px;
	border-radius: 0px;
	margin-bottom: 0px;
	margin-top: 5px;
}

table .bg-success {
	background-color: transparent !important;
	color: #00aa3b;
	font-size: 9px;
	line-height: 1.5;
}

.fills {
	fill: #125cd5;
}

.w {
	color: #fff;
}

/* Scroll Modal
.modal-dialog{
    overflow-y: initial !important
}
.modal-body{
    height: 250px;
    overflow-y: auto;
} */

/* hide PHPDebugger */
/* a.phpdebugbar-restore-btn {
    display: none;
}

.phpdebugbar-header{
    display: none;
} */
/* END hide PHPDebugger */

/* OVERFLOW FIX */

main {
	overflow: auto;
}

/* 
main {
    overflow:  hidden;
} */